.idea/
node_modules/
serverUtils/sampleSearchResults.json
serverUtils/sampleStats.json
serverUtils/currentSeasonProcessed.json
serverUtils/currentSeasonLeagueRaw.json
serverUtils/currentSeasonCLRaw.json
serverUtils/currentSeasonELRaw.json
serverUtils/scraper.js
serverUtils/FWPercentiles.json
serverUtils/AMPercentiles.json
serverUtils/CMPercentiles.json
serverUtils/FBPercentiles.json
serverUtils/CBPercentiles.json
serverUtils/FWPlayers.json
serverUtils/AMPlayers.json
serverUtils/CMPlayers.json
serverUtils/FBPlayers.json
serverUtils/CBPlayers.json
percentileScraper.js
percentileScraper2.js
currentSeasonScraper.js
commands.txt