* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: "Lucida Grande", sans-serif;
    background-color: #fafbfc;
    position: absolute;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

#root, #root-container {
    position: absolute;
    margin: 0;
    min-width: 100%;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: "courier new", monospace;
    color: #e75453;
    font-size: 5em;
    margin-top: 0;
}

h2 {
    display: block;
    font-family: "Didact Gothic", sans-serif;
    color: #B23535;
    font-weight: normal;
    font-size: 3em;
    margin-top: 0;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #B23535;
}

h4 {
    margin-bottom: 5px;
    line-height: 1;
}

p {
    font-size: 1.1em;
}

.accented-p {
    color: #e75453;
}

a {
    color: unset;
    text-decoration: none;
}

input[type=radio], input[type=checkbox] {
    transform: scale(1.25);
}

input:hover, input:focus {
    border: grey 1px solid;
}

button:focus, input:focus{
    outline: dimgrey none;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
    z-index: 2;
}

    #searchbar-form {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }

        #searchbar-input {
            width: 100%;
            height: 100%;
            font-size: 1.2em;
            color: #222222;
            padding-left: 1%;
            padding-right: 1%;
            border: darkgrey 1px solid;
            border-radius: 50px;
        }

#homepage {
    min-height: 700px;
}

    #homepage p {
        color: #222222;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
    }

    #homepage li {
        font-size: 1.1em;
        color: #373737;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
    }

    #navbar-container {
        position: fixed;
        z-index: 4;
        top: 0;
        right: 0;
        text-align: left;
        height: 6%;
        max-height: 30%;
        width: 100%;
        background-color: whitesmoke;
        box-shadow: 0 0 10px 2px lightgray;
    }

        .navbar {
            background-color: whitesmoke;
            overflow: hidden;
            max-height: 100%;
            height: 100%;
        }

            .navbar a, .navbar button {
                color: #e75453;
                font-weight: 500;
                font-size: 1.1em;
                font-family: "Didact Gothic", sans-serif;
                text-align: center;
                padding: 0 30px;
                text-decoration: none;
                height: 100%;
                max-height: 100%;
                display: inline-block;
            }

            .navbar button {
                background-color: unset;
                border: none;
            }

            .navbar a:hover, .navbar button:hover {
                background-color: #ebebeb;
            }

            .navbar a div {
                min-height: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            #navbar-normal {
                position: relative;
                z-index: 2;
            }

            #navbar-normal #burger-icon-container {
                display: none;
            }

            .responsive-navbar a {
                height: 25%;
                max-height: 25%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

            #navbar-hidden.preload {
                animation: none;
            }

            #navbar-hidden {
                width: 100%;
                /*height: 24%;*/
                max-height: 24%;
                opacity: 0.95;
                position: fixed;
                top: -18%;
                animation: slideUp;
                animation-duration: 0.45s;
                z-index: 1;
            }

                @keyframes slideUp {
                    0% {top: 6%}
                    100% {top: -18%}
                }

            #navbar-expanded {
                width: 100%;
                /*height: 24%;*/
                max-height: 24%;
                opacity: 0.95;
                position: fixed;
                top: 6%;
                animation: slideDown;
                animation-duration: 0.45s;
                z-index: 1;
                box-shadow: 0 0 10px 2px lightgray;
            }

                @keyframes slideDown {
                    0% {top: -18%}
                    100% {top: 6%}
                }

    #home {
        background-image: url(../assets/homescreen.svg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*padding-bottom: 6%;*/
        height: 100vh;
        min-height: 600px;
    }

        #home #searchbar-container1 {
            width: 35%;
            min-width: 400px;
        }

            #home #searchbar-container1 form input {
                padding-top: 13px;
                padding-bottom: 13px;
                text-align: center;
            }

            #home #searchbar-container1 form input:hover {
                box-shadow: 0 0 15px -8px darkgray;
            }

            #home #searchbar-container1 form input:focus {
                box-shadow: 0 0 15px -8px darkgray;
            }

        #sample-results {
            display: flex;
            width: 35%;
            min-width: 500px;
        }

            #sample-results a {
                color: #454545;
                flex: 1 1 33.3333333333%;
                max-width: 33.3333333333%;
                margin-left: 1%;
                margin-right: 1%;
                border: darkgrey 1px solid;
                border-radius: 10px;
                transition: 0.2s;
                background-color: rgba(255, 255, 255, 0.8);
                text-align: center;
            }

            #sample-results a:hover {
                color: unset;
                border-color: orangered;
            }

            .sample-player {
                padding: 10%;
                max-width: 100%;
                border-radius: 10px;
            }

                .sample-player .name {
                    font-weight: bold;
                }

                .sample-player .name, .sample-player .club {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .sample-player .nationality {
                    display: none;
                }

    .homepage-section-container:not(:last-child) {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .homepage-section-container a {
            color: #878787;
        }

        .homepage-section-container a:hover {
            color: orangered;
        }

    #preview-section-container, #faq-section-container, #glossary-section-container, #contact-section-container {
        padding: 5%;
        margin: 0 auto;
        max-width: 1500px;
    }

    #preview-section-container  {
        display: flex;
        flex-direction: row;
        min-height: 100%;
    }

        #preview-text {
            flex: 1 1 50%;
        }

        #preview-image {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 5%;
        }

        #preview-image img {
            width: 100%;
        }

    #glossary-section-container {

    }

        #glossary-section-container ul, #faq-section-container #faq-container {
            column-count: 2;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-gap: 5%;
        }

        #glossary-section-container #glossary-links span {
            margin-right: 10px;
        }

    #faq-section-container {

    }

        #faq-container .faq-item {
            break-inside: avoid-column;
            margin-bottom: 7%;
        }

#main, #main2 {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
}

    .searchbar-container #home-button {
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Courier New", monospace;
        font-size: 1.1em;
        font-weight: bold;
        color: #e75453;
        line-height: 90%;
    }

    .searchbar-container #home-button:hover {
        opacity: 0.7;
    }

    #searchbar-container2, #searchbar-container3 {
        background-color: whitesmoke;
        box-shadow: 0 0 10px 2px lightgray;
        flex: 1 1 6%;
        max-height: 6%;
    }

        #searchbar-container2 #searchbar-form, #searchbar-container3 #searchbar-form {
            padding-left: 1%;
            padding-right: 1%;
        }

        #searchbar-container2 #searchbar-form input, #searchbar-container3 #searchbar-form input {
            max-width: 500px;
            margin-left: 1%;
        }

    .screen, .screen2 {
        padding-top: 0.5%;
        flex: 1 1 94%;
        max-height: 94%;
        max-width: 100vw;
    }

        .filter {
            flex: 1 1 20%;
            max-width: 20%;
            /*margin: 10px 10px 20px 20px;*/
            margin: 0.5% 0.5% 1% 1%;
            z-index: 2;
        }

        .result {
            flex: 1 1 80%;
            max-width: 80%;
            /*margin: 10px 20px 20px 10px;*/
            margin: 0.5% 1% 1% 0.5%;
            z-index: 2;
        }

    #search-screen {
        display: flex;
    }

        #search-filters {
            display: flex;
            flex-direction: column;
            /*padding: 0 20px 20px;*/
            padding: 0 1% 1%;
            border: darkgrey 1px solid;
            box-shadow: 0 0 10px lightgray;
        }

            #search-filters h3, #search-results h3 {
                font-weight: unset;
                font-family: unset;
                font-size: 1.5em;
                margin-bottom: 10px;
                color: #000000;
            }

            #search-filters h3 {
                text-align: center;
                font-size: 1.3em;
            }

            #search-filter-inputs {
                display: flex;
                flex-direction: column;
            }

                #search-filter-inputs input {
                    font-size: 1em;
                    padding: 3% 2%;
                    border: darkgrey 1px solid;
                    border-radius: 5px;
                }

        #search-results {
            border: none;
            overflow-y: auto;
        }

            #search-results h3 {
                margin-top: 10px;
            }

            #search-results p {
                margin-top: 0;
                font-style: italic;
                color: grey;
                font-size: 1em;
            }

            #player-search-results, #club-search-results {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: minmax(min-content, max-content);
                grid-column-gap: 1%;
                grid-row-gap: 1.6vh;
            }

                .search-result {
                    padding: 3.3%;
                    border: darkgrey 1px solid;
                    /*margin-bottom: 3%;*/
                    transition: 0.2s;
                }

                .search-result:hover, .search-result:focus {
                    outline: none;
                    border-color: #e75453;
                    cursor: pointer;
                }

                    .search-result .name {
                        font-size: 1.4em;
                        color: #e75453;
                        font-weight: bold;
                    }

                    .search-result .club, .search-result .nationality {
                        font-size: 1.15em;
                        color: #373737;
                    }

    #stats-screen {
        display: flex;
    }

        #chart-filters {
            display: flex;
            flex-direction: column;
        }

            .chart-filter-inputs {
                flex: 1 1 70%;
                /*padding: 0 20px 15px;*/
                padding: 0 5% 5%;
                border: darkgrey 1px solid;
                white-space: normal;
                overflow-y: auto;
                box-shadow: 0 0 10px lightgray;
            }

                .chart-filter-inputs h1 {
                    text-align: center;
                }

                .chart-filter-inputs form {
                    /*padding-bottom: 5px;*/
                }

                    .chart-filter-inputs form label {
                        display: block;
                        padding: 10px;
                    }

                    .chart-filter-inputs form .selectable-label:hover {
                        box-shadow: 0 0 6px lightgray;
                    }

                    .chart-filter-inputs form .blocked-label:hover {
                        cursor: not-allowed;
                    }

            #chart-filter-inputs-laptop {
                display: block;
            }

            #chart-filter-inputs-mobile {
                display: none;
            }

        #filter-buttons {
            flex: 1 1 30%;
            display: flex;
            flex-direction: column;
        }

            #filter-buttons .filter-button {
                /*padding-top: 20px;*/
                padding-top: 5%;
                flex: 1 1 33.3%;
            }

                #filter-buttons .filter-button button {
                    width: 100%;
                    height: 100%;
                    border: none;
                    font-size: 1.05em;
                    /*font-weight: bold;*/
                    transition: 0.3s;
                    /*box-shadow: 0 0 10px 2px lightgray;*/
                }

                #toggleCreditsButton, #exportButton, #compareButton {
                    color: #B23535;
                    /*background-color: transparent;*/
                    background-color: #f0f0f0;
                }

                #compareButton {
                    color: lightgrey;
                }

                #toggleCreditsButton:hover, #exportButton:hover {
                    background-color: #dcdcdc;
                }

                #compareButton:hover {
                    cursor: not-allowed;
                }

        .highcharts-container {
            background-image: url(../assets/watermark.png);
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 0;
        }

            .highcharts-title:hover {
                cursor: pointer;
                opacity: 0.7;
            }

            /*outer border*/
            .highcharts-container  svg .highcharts-yaxis-grid path:nth-child(6){
                stroke: #333333;
                stroke-width: 2;
            }

            /*inner border*/
            .highcharts-container  svg .highcharts-yaxis-grid path:nth-child(2) {
                fill: #fafbfc !important;
                stroke: #333333;
                stroke-width: 2;
            }

            /*axis-lines (in-between inner and outer)*/
            .highcharts-container  svg .highcharts-yaxis-grid path:not(:nth-child(2)):not(:nth-child(6)) {
                stroke: #7b7b7b;
                opacity: 0.6 !important;
            }

        #export {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 1200px;
            height: 1100px;
            transform: scale(0.01);
            background-color: rgba(0, 0, 0, 0);
            background-image: url(../assets/watermark.png);
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 0;
            z-index: 1;
        }

    #loading-screen, #error-screen {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5em;
    }

    #loading-screen {
        min-height: 100%;
    }



@media (max-width: 1200px){

    #player-search-results, #club-search-results {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0.8vh;
    }

}



@media (max-width: 960px) {

    h1 {
        font-size: 8.3vw;
    }

    #navbar-container {
        text-align: unset;
        max-height: 30%;
    }

        #navbar-normal a:not(:first-child) {
            display: none;
        }

        #navbar-normal #burger-icon-container {
            display: block;
            float: right;
        }

            #navbar-normal #burger-icon-container #burgerIcon {
                display: flex;
            }

    #homepage {

    }

        #home #searchbar-container1 {
            min-width: 400px;
        }

        #sample-results {
            flex-direction: column;
            min-width: unset;
        }

            #sample-results a {
                max-width: unset;
                margin-left: unset;
                margin-right: unset;
                margin-bottom: 5%;
            }

            .sample-player {
                padding: 4%;
            }

                .sample-player .name, .sample-player .club {
                    /*white-space: unset;*/
                }

    .homepage-section-container:not(:last-child) {
        justify-content: unset;
    }

    #preview-section-container, #faq-section-container, #glossary-section-container, #contact-section-container {
        padding-top: 100px;
    }

    #preview-section-container  {
        flex-direction: column;
    }

        #preview-image {
            padding-left: unset;
            padding-top: 5%;
            margin: 0 auto;
            min-width: 400px;
            max-width: 70%;
        }

    #glossary-section-container {

    }

        #glossary-section-container ul, #faq-section-container #faq-container {
            column-count: unset;
            -webkit-column-count: unset;
            -moz-column-count: unset;
        }

        #glossary-section-container #glossary-links span {
            display: block;
        }

    #faq-section-container {

    }

        #faq-container .faq-item {
            margin-bottom: 4%;
        }

    #main2 {
        display: flex;
        flex-direction: column;
        min-height: 140%;
    }

        #searchbar-container2, #searchbar-container3 {
            padding-top: 0.5%;
            flex: 1 1 4.29%;
            /*flex: 1 1 8%*/
            /*box-shadow: none;*/
        }

        #searchbar-container2 #searchbar-form input, #searchbar-container3 #searchbar-form input {
            /*max-width: unset;*/
        }

        #main #searchbar-form, #main2 #searchbar-form {
            padding-top: 0.5%;
            padding-left: 1%;
            padding-right: 1%;
            min-width: unset;
            width: 100%;
        }

        .screen {
            padding: 1%;
            flex-direction: column;
        }

        .screen2 {
            flex: 1 1 95.71%;
            max-height: 95.71%;
            /*flex: 1 1 92%;*/
            /*max-height: 92%;*/
            flex-direction: column;
        }

            .filter {
                flex: 1 1 23%;
                max-height: 23%;
                max-width: unset;
                /*margin: 10px 20px;*/
                margin-right: 1%;
                margin-bottom: 1%;
            }

            .result {
                max-width: unset;
                margin: 1% 1% 3% 1%;
            }

        #search-screen {

        }

            #search-filters {
                flex: none;
                max-height: unset;
                height: auto;
                padding-bottom: 2.5%;
                display: flex;
                align-items: center;
                box-shadow: none;
            }

                #search-filter-inputs {
                    width: 48%;
                    max-width: 48%;
                }

                    .search-filter-input {
                        padding: 1%;
                    }

                        .search-filter-input input {
                            margin-left: 20px;
                            margin-right: 20px;
                        }

            #search-results {
                /*padding-left: 2%;*/
                /*padding-right: 2%;*/
            }

        #stats-screen {

        }

            #chart-filters {
                flex-direction: row;
            }

                .chart-filter-inputs {
                    padding: 0 2% 2%;
                    max-height: 100%;
                    box-shadow: none;
                }

                    .chart-filter-inputs form {
                        display: flex;
                        flex-flow: wrap row;
                        /*flex-wrap: wrap;*/
                    }

                        .chart-filter-inputs form label {
                            /*display: unset;*/
                            flex: 1 0 50%;
                            max-width: 50%;
                            /*break-inside: avoid-column;*/
                            /*overflow: visible;*/
                        }

                #filter-buttons {

                }

                    #filter-buttons .filter-button {
                        padding: 0;
                        /*margin-left: 20px;*/
                        margin-left: 3.3%;
                    }

                    #filter-buttons .filter-button:first-child {
                        /*padding-bottom: 13px;*/
                        padding-bottom: 2.5%;
                    }

                    #filter-buttons .filter-button:not(:first-child):not(:last-child) {
                        /*padding-top: 7px;*/
                        /*padding-bottom: 7px;*/
                        padding-top: 1.25%;
                        padding-bottom: 1.25%;
                    }

                    #filter-buttons .filter-button:last-child {
                        /*padding-top: 13px;*/
                        padding-top: 2.5%;
                    }

            #chart {
                margin: 2.5vh 1% 1% 1%;
            }

}




@media (max-width: 600px){

    #player-search-results, #club-search-results {
        grid-template-columns: 1fr;
        /*grid-row-gap: 0.1%;*/
    }

        .search-result {
            margin-bottom: 1.5%;
        }

}




/*Loading Screen Animation*/
.loader,
.loader:before,
.loader:after {
    background: #000000;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    color: #000000;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
    box-shadow: 0 0;
    height: 4em;
    }
    40% {
    box-shadow: 0 -2em;
    height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
    box-shadow: 0 0;
    height: 4em;
    }
    40% {
    box-shadow: 0 -2em;
    height: 5em;
    }
}
