/*Loading Screen Animation*/
.loader,
.loader:before,
.loader:after {
    background: #000000;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    color: #000000;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}



* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: "Lucida Grande", sans-serif;
    background-color: #fafbfc;
    position: absolute;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    line-height: 1;
}

body::after{
    position: absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url(../assets/exportBackground.png);
}

#root, #app {
    position: absolute;
    margin: 0;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

h1 {
    font-family: "courier new", monospace;
    color: #e75453;
    font-size: 4.8em;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-weight: 600;
}

h2 {
    font-family: "Didact Gothic", sans-serif;
    color: #B23535;
    font-weight: normal;
    font-size: 3em;
    margin-top: 0;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #B23535;
    font-weight: 600;
}

h4 {
    margin-bottom: 5px;
    line-height: 1;
    font-weight: 700;
}

p, li {
    font-size: 1.15em;
}

.accented-p {
    color: #e75453;
}

a {
    color: unset;
    text-decoration: none;
}

input[type=radio], input[type=checkbox] {
    /*transform: scale(1.25);*/
}

input:hover, input:focus {
    border: grey 1px solid;
}

button {
    background-color: unset;
    border: none;
}

button:focus, input:focus{
    outline: dimgrey none;
}

button:hover {
    cursor: pointer;
}

.searchbar-container {
    z-index: 3;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

    .searchbar-container > div {
        width: 100%;
        height: 100%;
        position: relative;
    }

    #searchbar-form {
        width: 100%;
        height: 100%;
        /*padding-top: 0.5%;*/
        /*padding-bottom: 0.5%;*/
    }

        #searchbar-input {
            width: 100%;
            font-size: 1.1em;
            color: #222222;
            padding-left: 1%;
            padding-right: 1%;
            border: #b4b4b4 1px solid;
            border-radius: 50px;
        }

        #live-search-results {
            position: relative;
            background-color: white;
            max-height: 400px;
            padding: 5px;
            overflow-y: scroll;
            border: #b4b4b4 1px solid;
            border-radius: 10px;
            z-index: 100;
        }

            #live-search-results #live-search-loader {
                position: absolute;
                width: 40px;
                height: 40px;
                top: 0;
                right: 0;
            }

                #live-search-results #live-search-loader .loader{
                    margin-top: 15px;
                    font-size: 4px
                }

            #live-search-results h3 {
                margin-top: 5px;
                margin-left: 5px;
                margin-bottom: 3px;
            }

            #live-search-results p {
                margin-top: 0;
                font-style: italic;
                color: grey;
                font-size: 1em;
            }

            #live-search-results a:not(:last-child) .search-result {
                border-bottom: 1px rgb(255, 192, 203) solid;
            }

            #live-search-results .search-result, #live-search-results p {
                padding: 8px;
                margin-bottom: 0;
            }

            #live-search-results .search-result:hover {
                background-color: rgba(255, 192, 203, 0.25);
            }

                #live-search-results .search-result .name {
                    font-size: 1.1em;
                    color: #e75453;
                    font-weight: bold;
                    display: inline-block;
                }

                #live-search-results .search-result .club {
                    display: inline-block;
                    padding-left: 7px;
                }

                #live-search-results .search-result .nationality {
                    display: none;
                }

#homepage {
    min-height: 700px;
}

    #navbar-container {
        position: fixed;
        z-index: 4;
        top: 0;
        right: 0;
        height: 52px;
        max-height: calc(52px*5);
        width: 100%;
        text-align: left;
        background-color: whitesmoke;
        box-shadow: 0 0 10px 2px lightgray;
    }

        .navbar {
            background-color: whitesmoke;
            overflow: hidden;
            height: 100%;
            max-height: 100%;
        }

            .navbar a, .navbar button {
                display: inline-block;
                height: 100%;
                max-height: 100%;
                padding: 0 30px;
                color: #e75453;
                font-weight: 500;
                font-size: 1.1em;
                font-family: "Didact Gothic", sans-serif;
                text-align: center;
                text-decoration: none;
            }

            .navbar a:hover, .navbar button:hover {
                background-color: #ebebeb;
            }

            .navbar a div {
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                justify-content: center;
                min-height: 100%;
                height: 100%;
            }

            #navbar-normal {
                position: relative;
                z-index: 2;
            }

            #navbar-normal #burger-icon-container {
                display: none;
            }

            .responsive-navbar a {
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                height: 52px;
            }

            #navbar-hidden.preload {
                animation: none;
            }

            #navbar-hidden {
                position: fixed;
                top: calc(52px * 3 * -1);
                width: 100%;
                height: calc(52px * 4);
                opacity: 0.95;
                animation: slideUp;
                animation-duration: 0.25s;
                z-index: 1;
            }

                @keyframes slideUp {
                    0% {top: 52px}
                    100% {top: calc(52px * 3 * -1)}
                }

            #navbar-expanded {
                display: none;
                position: fixed;
                top: 52px;
                width: 100%;
                height: calc(52px * 4);
                opacity: 0.95;
                animation: slideDown;
                animation-duration: 0.25s;
                z-index: 1;
                box-shadow: 0 0 10px 2px lightgray;
            }

                @keyframes slideDown {
                    0% {top: calc(52px * 3 * -1)}
                    100% {top: 52px}
                }

    #home {
        background-image: url(../assets/homescreen.svg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
        padding-top: 200px;
        min-height: 600px;
        height: 100vh;
    }

        #home #searchbar-container1 {
            min-width: 400px;
            width: 35%;
            height: 45px;
        }

            #home #searchbar-container1 form input {
                height: 100%;
                text-align: center;
            }

            #home #searchbar-container1 form input:hover, #home #searchbar-container1 form input:focus {
                box-shadow: 0 0 5px 0 #c3c3c3;
            }

            #home #searchbar-container1 #live-search-results {
                min-width: 400px;
                width: 100%;
            }

        #lucky-button {
            font-size: 1em;
            font-weight: bold;
            padding: 12px 15px;
            border: black solid 1px;
            border-radius: 7px;
            background-color: white;
            opacity: 0.7;
            transition: 0.2s;
        }

        #lucky-button:hover {
            border-color: #e75453;
            opacity: 1;
            cursor: pointer;
        }

        /*#sample-results {*/
        /*    display: flex;
                display: -webkit-flex;*/
        /*    width: 35%;*/
        /*    min-width: 500px;*/
        /*}*/

        /*    #sample-results a {*/
        /*        color: #454545;*/
        /*        flex: 1 1 33.3333333333%;*/
        /*        max-width: 33.3333333333%;*/
        /*        margin-left: 1%;*/
        /*        margin-right: 1%;*/
        /*        border: darkgrey 1px solid;*/
        /*        border-radius: 10px;*/
        /*        transition: 0.2s;*/
        /*        background-color: rgba(255, 255, 255, 0.8);*/
        /*        text-align: center;*/
        /*    }*/

        /*    #sample-results a:hover {*/
        /*        color: unset;*/
        /*        border-color: orangered;*/
        /*    }*/

        /*    .sample-player {*/
        /*        padding: 10%;*/
        /*        max-width: 100%;*/
        /*        border-radius: 10px;*/
        /*    }*/

        /*        .sample-player .name {*/
        /*            font-weight: bold;*/
        /*        }*/

        /*        .sample-player .name, .sample-player .club {*/
        /*            white-space: nowrap;*/
        /*            overflow: hidden;*/
        /*            text-overflow: ellipsis;*/
        /*        }*/

        /*        .sample-player .nationality {*/
        /*            display: none;*/
        /*        }*/

    .homepage-section-container:not(:last-child) {
        min-height: 100vh;
    }

    .homepage-section-container.centered-section {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
    }

        .homepage-section-container p {
            color: #222222;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            line-height: 1.4;
        }

        .homepage-section-container li {
            color: #373737;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            line-height: 1.3;
        }

        .homepage-section-container a {
            color: #878787;
        }

        .homepage-section-container a:hover {
            color: orangered;
        }

    #about-section-container, #faq-section-container, #glossary-section-container, #contact-section-container {
        padding: 100px 5% 5%;
        margin: 0 auto;
        max-width: 1500px;
    }

    #about-section-container  {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        min-height: 100%;
    }

        #about-text {
            flex: 1 1 50%;
        }

        #about-image {
            flex: 1 1 50%;
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 5%;
        }

        #about-image img {
            width: 100%;
        }

    #glossary-section-container {

    }

        #glossary-section-container ul, #faq-section-container #faq-container {
            column-count: 2;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-gap: 5%;
        }

        #glossary-section-container #glossary-links span {
            font-size: 1.1em;
            margin-right: 10px;
        }

    #faq-section-container {

    }

        #faq-container .faq-item {
            break-inside: avoid-column;
            margin-bottom: 7%;
        }

#main, #main2 {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    min-height: 700px;
    height: 100%;
    max-height: 100%;
    min-width: 500px;
    width: 100%;
}

    #searchbar-container2, #searchbar-container3 {
        background-color: whitesmoke;
        box-shadow: 0 0 10px 2px lightgray;
        height: 52px;
        width: 100%;
        padding-left: 1%;
    }

        #searchbar-container2 #home-button, #searchbar-container3 #home-button {
            text-align: center;
            height: 100%;
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            justify-content: center;
            font-family: "Courier New", monospace;
            font-size: 1.16em;
            font-weight: bold;
            color: #e75453;
            line-height: 90%;
            margin-right: 0.8%;
        }

        .searchbar-container #home-button:hover {
            opacity: 0.7;
        }

        #searchbar-container2 > div, #searchbar-container3 > div {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            justify-content: center;
            width: 500px;
            max-width: 100%;
        }

        #searchbar-container2 #searchbar-form, #searchbar-container3 #searchbar-form {
            width: 100%;
            height: 40px;
        }

            #searchbar-container2 #searchbar-form input, #searchbar-container3 #searchbar-form input {
                height: 100%;
                width: 100%;
                padding-left: 20px;
            }

            #searchbar-container2 #live-search-results, #searchbar-container3 #live-search-results {
                width: 500px;
                max-width: 100%;
            }

    .screen, .screen2 {
        padding-top: 0.5%;
        /*flex: 1;*/
        flex: 0 1 100%;
        -webkit-flex: 0 1 100%;
        max-height: calc(100% - 52px);
        max-width: 100vw;
        position: relative;
    }

        #glossary-button, .display-type-button {
            height: auto;
            width: auto;
            font-family: 'FontAwesome', sans-serif;
            font-size: 1.5em;
            z-index: 7;
        }

        #glossary-button {
            position: absolute;
            top: 0;
            right: 0;
        }

            #glossary-button:hover, .display-type-button:hover, .display-type-button.selected {
                color: #b23535;
            }

        .filter {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            min-width: 20%;
            flex: 1 1 20%;
            max-width: 20%;
            margin: 0.5% 0.5% 1% 1%;
            z-index: 2;
        }

            .filter-inputs {
                padding: 0.4em 1em 1em;
                border: darkgrey 1px solid;
                white-space: normal;
                overflow-x: hidden;
                box-shadow: 0 0 10px lightgray;
            }

                .filter-inputs .Collapsible__trigger {
                    display: flex;
                    display: -webkit-flex;
                    justify-content: space-between;
                    width: 100%;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    font-weight: bold;
                    font-size: 1.18em;
                    color: #B23535;
                }

                .filter-inputs .Collapsible__trigger:hover {
                    cursor: pointer;
                }

                .filter-inputs .Collapsible__trigger:after {
                    font-family: 'FontAwesome', sans-serif;
                    content: '\f107';
                    transition: transform 200ms;
                }

                .filter-inputs .Collapsible__trigger.is-open:after {
                    transform: rotateZ(180deg);
                }

                .filter-inputs .Collapsible__contentOuter {
                    border-bottom: #e1e1e1 2px solid;
                }

                .filter-inputs .Collapsible__contentInner {
                    padding: 2px;
                    margin-bottom: 0.7em;
                }

                .filter-inputs form {
                }

                .filter-inputs form label {
                    display: block;
                    padding: 10px;
                }

                .filter-inputs form .selectable-label:hover {
                    box-shadow: 0 0 6px lightgray;
                }

                .filter-inputs form .blocked-label:hover {
                    cursor: not-allowed;
                }

            .filter-buttons {
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
            }

            .filter-buttons .filter-button {
                padding-top: 5%;
                flex: 1 1 33.3%;
            }

            .filter-buttons .filter-button button {
                width: 100%;
                height: 100%;
                border: none;
                font-size: 1.05em;
                transition: 0.3s;
                color: #B23535;
                background-color: #f0f0f0;
            }

            .filter-buttons .filter-button button:hover {
                background-color: #dcdcdc;
            }

        .result {
            flex: 1 1 80%;
            width: 75vw;
            max-width: 80%;
            margin: 0.5% 1% 1% 0.5%;
            z-index: 2;
        }

    #search-screen {
        display: flex;
        display: -webkit-flex;
    }

        #search-filters {
        }

            .search-filter-inputs {
                flex: 1 1 100%;
                padding-top: 1em;
            }

                #advanced-search-filter-inputs {
                    flex: 1 1 80%;
                    overflow-y: scroll;
                }

                    #display-type-buttons-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 10px;
                    }

                    #advanced-search-filter-inputs h3 {
                        margin-bottom: 0;
                    }

                    #advanced-search-filter-inputs h4 {
                        font-weight: 600;
                    }

                    #advanced-search-filter-inputs .ant-select {
                        margin-bottom: 10px;
                    }

                    #advanced-search-filter-inputs .ant-slider {
                        margin-bottom: 13px;
                    }

                    .hideTooltip {
                        display: none !important;
                    }

            #search-filters h3, #search-results h3 {
                font-weight: unset;
                font-family: unset;
                font-size: 1.5em;
                margin-bottom: 10px;
                color: #000000;
            }

            #search-filters h3 {
                text-align: center;
                font-size: 1.3em;
            }

            #search-filter-inputs {
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
            }

                #search-filter-inputs input {
                    font-size: 1em;
                    padding: 3% 2%;
                    border: darkgrey 1px solid;
                    border-radius: 5px;
                }

            #advanced-search-filter-buttons {
                flex: 1 1 20%;
            }

        #search-results {
            border: none;
            position: relative;
        }

        #search-results.scrollable {
            overflow-y: scroll;
        }

            #search-results h3 {
                margin-top: 10px;
            }

            #search-results p {
                margin-top: 0;
                font-style: italic;
                color: grey;
                font-size: 1em;
            }

            #player-search-results, #club-search-results {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-auto-rows: minmax(min-content, max-content);
                grid-column-gap: 1%;
                grid-row-gap: 1.6vh;
            }

            #player-search-results-table {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .rdt_TableHeader {
                display: none !important;
            }

                #search-results .search-result {
                    padding: 3.3% 3.3% 4.5%;
                    border: darkgrey 1px solid;
                    box-shadow: 0 1px 4px lightgray;
                    border-radius: 6px;
                    transition: 0.2s;
                }

                #search-results .search-result:hover, #search-results .search-result:focus {
                    outline: none;
                    border-color: #e75453;
                    cursor: pointer;
                }

                .search-result .bio-extra {
                    padding-top: 2px;
                }

                .search-result .bio, .search-result .bio-extra {
                    display: flex;
                    justify-content: space-between;
                }

                    .search-result .bio-extra .position-age {
                        color: grey;
                    }

                #search-results .search-result .name {
                    font-size: 1.4em;
                    color: #e75453;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                #search-results .search-result .club, #search-results .search-result .nationality {
                    font-size: 1.15em;
                    color: #373737;
                }

    #stats-screen, #compare-screen {
        display: flex;
        display: -webkit-flex;
    }

        .overlay.closed {
            transform: scale(0.001);
            opacity: 0;
        }

        .overlay.open {
            transform: scale(1);
            opacity: 1;
        }

        .overlay {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.6);
            height: 100%;
            width: 100%;
            transition: transform 0.3s, opacity 0.3s;
            z-index: 4;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .overlay .overlay-inner-container {
                position: relative;
                height: 80%;
                background-color: #fafbfc;
                border-radius: 13px;
            }

            .close-overlay {
                position: fixed;
                top: 7px;
                right: 7px;
                font-family: 'FontAwesome', sans-serif;
                font-size: 2.2em;
                color: lightgrey;
            }

            .close-overlay:hover {
                color: black;
                cursor: pointer;
            }

        #export-loader-overlay {
        }

            #export-loader-overlay .loader, #export-loader-overlay .loader:before, #export-loader-overlay .loader:after {
                color: white;
                background: white;
            }

        #glossary-overlay {

        }

            #glossary-overlay #glossary-container {
                min-width: 400px;
                width: 70%;
                overflow-y: auto;
            }

            #glossary-overlay #glossary-container #glossary-section-container {
                padding: 0 4% 4%;
            }

            #glossary-overlay #glossary-container h2 {
                font-size: 250%;
            }

            #glossary-overlay #glossary-container p {
                line-height: 1.4;
            }

            #glossary-overlay #glossary-container li {
                line-height: 1.3;
            }

            .help-section-container {
                padding: 4% 4% 2%;
            }

            .help-section-container p {
                color: #222222;
                font-family: Tahoma, Arial, Helvetica, sans-serif;
            }

            .help-section-container li {
                color: #373737;
                font-family: Tahoma, Arial, Helvetica, sans-serif;
            }

            .help-section-container a {
                color: #878787;
            }

            .help-section-container a:hover {
                color: orangered;
            }

        #compare-search-overlay {
            flex-direction: column;
            justify-content: unset;
        }

            #compare-search-overlay span h3 {
                color: white;
                text-align: center;
                margin-top: 20px;
            }

            #compare-search-overlay #searchbar-container1 {
                min-width: 400px;
                width: 35%;
                margin: 0 auto;
                height: 40px;
            }

            #compare-search-overlay #searchbar-container1 form input {
                height: 100%;
                text-align: center;
            }

            #compare-search-overlay #searchbar-container1 #live-search-results {
                width: 100%;
            }

        #chart-filters {
        }

            .chart-filter-inputs {
                flex: 1 1 70%;
                overflow-y: scroll;
            }

                .chart-filter-inputs input {
                    margin-right: 3px;
                }

            #chart-filter-inputs-laptop {
                display: block;
            }

            #chart-filter-inputs-mobile {
                display: none;
            }

            #chart-filter-buttons {
                flex: 1 1 30%;
            }

        #chart {
            position: relative;
        }

        .highcharts-container {
        }

            .multi-color-1 {
                background: rgb(241,92,128);
                background: -moz-linear-gradient(90deg, rgba(241,92,128,1) 0%, rgba(228,211,84,1) 50%, rgba(144,237,125,1) 100%);
                background: -webkit-linear-gradient(90deg, rgba(241,92,128,1) 0%, rgba(228,211,84,1) 50%, rgba(144,237,125,1) 100%);
                background: linear-gradient(90deg, rgba(241,92,128,1) 0%, rgba(228,211,84,1) 50%, rgba(144,237,125,1) 100%);
                -webkit-background-clip: text;
            }

            .multi-color-2 {
                background: rgb(228,211,84);
                background: -moz-linear-gradient(90deg, rgba(228,211,84,1) 0%, rgba(144,237,125,1) 50%, rgba(124,181,236,1) 100%);
                background: -webkit-linear-gradient(90deg, rgba(228,211,84,1) 0%, rgba(144,237,125,1) 50%, rgba(124,181,236,1) 100%);
                background: linear-gradient(90deg, rgba(228,211,84,1) 0%, rgba(144,237,125,1) 50%, rgba(124,181,236,1) 100%);
                -webkit-background-clip: text;
            }

            .multi-color-3 {
                background: rgb(228,211,84);
                background: -moz-linear-gradient(90deg, rgba(228,211,84,1) 0%, rgba(124,181,236,1) 90%);
                background: -webkit-linear-gradient(90deg, rgba(228,211,84,1) 0%, rgba(124,181,236,1) 90%);
                background: linear-gradient(90deg, rgba(228,211,84,1) 0%, rgba(124,181,236,1) 90%);
                -webkit-background-clip: text;
            }

            .multi-color-4 {
                background: rgb(148,153,255);
                background: -moz-linear-gradient(90deg, rgba(148,153,255,1) 0%, rgba(228,211,84,1) 75%);
                background: -webkit-linear-gradient(90deg, rgba(148,153,255,1) 0%, rgba(228,211,84,1) 75%);
                background: linear-gradient(90deg, rgba(148,153,255,1) 0%, rgba(228,211,84,1) 75%);
                -webkit-background-clip: text;
            }

            .highcharts-title {
                text-align: center;
                margin-bottom: 0.3em;
                width: 100%;
                text-overflow: ellipsis;
            }

                #chart .chart-title {

                }

                #chart .chart-title:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

                #chart .chart-title #link-icon {
                    vertical-align: baseline;
                    text-decoration: none;
                    margin: 0;
                    padding: 0 0 0 10px;
                    color: black;
                    font-size: 0.8em;
                }

                #chart #competitions-container, #export #competitions-container {
                    font-size: 0.57em;
                    line-height: 1.2em;
                    font-weight: normal;
                    padding-top: 0;
                    width: auto;
                }

                .centered-around-separator div {
                    display: flex;
                }

                .centered-around-separator div span {
                    flex: 1;
                }

                .centered-around-separator div span:first-of-type {
                    text-align: right;
                    padding-right: 5px;
                }

                .centered-around-separator div span:last-of-type {
                    text-align: left;
                    padding-left: 5px;
                }

                #chart .player-1, #export .player-1 {
                    color: #e75453;
                    fill: #e75453;
                }

                #chart .player-2, #export .player-2{
                    color: black;
                    fill: black;
                }

                #chart .competitions, #export .competitions {
                    font-weight: bold;
                    /*font-size: 0.45em;*/
                    /*line-height: 0.5em;*/
                }

                #chart .age-minutes, #export .age-minutes {
                    font-weight: bold;
                }


            /*dummy border*/
            .highcharts-container  svg .highcharts-yaxis-grid path:nth-child(7){
                stroke: #fafbfc;
                stroke-width: 2;
            }

            /*outer border*/
            .highcharts-container  svg .highcharts-yaxis-grid path:nth-child(6){
                stroke: #777777;
                stroke-width: 2;
            }

            /*inner border*/
            .highcharts-container  svg .highcharts-yaxis-grid path:nth-child(2) {
                fill: #fafbfc !important;
                stroke: #777777;
                stroke-width: 2;
                z-index: 7 !important;
            }

            /*axis-lines (in-between inner and outer)*/
            .highcharts-container  svg .highcharts-yaxis-grid path:not(:nth-child(2)):not(:nth-child(6)):not(:nth-child(7)) {
                stroke: #7b7b7b;
                opacity: 0.4 !important;
            }

        #chart {
        }

        #export {
            position: absolute;
            top: 0;
            left: 0;
            width: 1200px;
            height: 1100px;
            opacity: 0;
            transform: scale(0.3);
            background-image: url(../assets/exportBackground.png);
            background-size: 100%;
            -webkit-background-size: 100%;
            background-repeat: no-repeat;
            z-index: 1;
        }

    #loading-screen, #error-screen {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 1.5em;
    }

    #loading-screen {
        min-height: 100%;
    }



@media (max-width: 1500px){

    #player-search-results, #club-search-results {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 0.8vh;
    }

}

@media (max-width: 1200px){

    #player-search-results, #club-search-results {
        grid-template-columns: 1fr 1fr;
        /*grid-row-gap: 0.8vh;*/
    }

}



@media (max-width: 960px) {

    h1 {
        font-size: 8vw;
    }

    #navbar-container {
        text-align: unset;
    }

        #navbar-normal a:not(:first-child) {
            display: none;
        }

        #navbar-normal #burger-icon-container {
            display: block;
            float: right;
        }

        #navbar-expanded {
            display: block;
        }

    #homepage {

    }

        #home #searchbar-container1 {
            min-width: 400px;
        }

        /*#sample-results {*/
        /*    flex-direction: column;*/
        /*    min-width: unset;*/
        /*}*/

        /*    #sample-results a {*/
        /*        max-width: unset;*/
        /*        margin-left: unset;*/
        /*        margin-right: unset;*/
        /*        margin-bottom: 5%;*/
        /*    }*/

        /*    .sample-player {*/
        /*        padding: 4%;*/
        /*    }*/

        /*        .sample-player .name, .sample-player .club {*/

        /*        }*/

    .homepage-section-container.centered-section {
        justify-content: unset;
    }

    #about-section-container, #faq-section-container, #glossary-section-container, #contact-section-container {
        padding-top: 75px;
    }

    #about-section-container  {
        flex-direction: column;
    }

        #about-image {
            padding-left: unset;
            padding-top: 5%;
            margin: 0 auto;
            min-width: 400px;
            max-width: 70%;
        }

    #glossary-section-container {

    }

        #glossary-section-container ul, #faq-section-container #faq-container {
            column-count: unset;
            -webkit-column-count: unset;
            -moz-column-count: unset;
        }

        #glossary-section-container #glossary-links span {
            margin-top: 0.3em;
            display: block;
        }

    #faq-section-container {

    }

        #faq-container .faq-item {
            margin-bottom: 4%;
        }


    #main {
        overflow-y: scroll;
    }

    #main2 {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
    }

        #searchbar-container2, #searchbar-container3 {

        }

        #main #searchbar-form, #main2 #searchbar-form {
            /*padding-left: 1%;*/
        }

            #searchbar-container2 #searchbar-form input, #searchbar-container3 #searchbar-form input {

            }

        .screen, .screen2 {
            flex-direction: column;
        }

            .filter {
                flex: unset;
                flex-direction: row;
                min-width: 98%;
                margin-right: 1%;
                margin-bottom: 1%;
            }

                .filter-inputs {
                    box-shadow: none;
                }

                .filter-buttons {

                }

                    .filter-buttons .filter-button {
                        padding: 0;
                        margin-left: 3.3%;
                    }

                    .filter-buttons .filter-button:first-child {
                        padding-bottom: 2.5%;
                    }

                    .filter-buttons .filter-button:not(:first-child):not(:last-child) {
                        padding-top: 1.25%;
                        padding-bottom: 1.25%;
                    }

                    .filter-buttons .filter-button:last-child {
                        padding-top: 2.5%;
                    }

            .result {
                width: unset;
                max-width: unset;
                margin: 1% 1% 1% 1%;
            }

        .screen {
            /*padding: 1%;*/
        }

        .screen2 {
            max-height: unset;
        }

        #search-screen {

        }

            .search-filter-inputs {
                flex-direction: column;
                height: auto;
                padding-bottom: 2.5%;
                align-items: center;
            }

                #search-filter-inputs {

                }

                    #search-filter-inputs input {
                        width: 38%;
                        max-width: 38%;
                        padding: 1.5% 1%;
                    }


            #search-results {
                flex: 0 1 100%;
                -webkit-flex: 0 1 100%;
                padding: 0 1% 1%;
                overflow-y: unset;
            }

            #advanced-search-filters {
                height: 200px;
                max-height: 200px;
            }

                #advanced-search-filter-inputs {
                    flex: 1 1 70%;
                }

                #advanced-search-filter-buttons {
                    flex: 1 1 30%;
                }

        #stats-screen {

        }

            #chart-filters {
                height: 280px;
                max-height: 280px;
            }

                .chart-filter-inputs {
                    padding: 0 2% 2%;
                }

                    .chart-filter-inputs form {
                        display: flex;
                        display: -webkit-flex;
                        flex-flow: wrap row;
                    }

                        .chart-filter-inputs form label {
                            flex: 1 0 50%;
                            max-width: 50%;
                        }

            #chart {
                flex: unset;
                min-height: 850px;
                height: 97.5vh;
                margin: 2.5vh 1% 1% 1%;
            }

}




@media (max-width: 600px){

    #player-search-results, #club-search-results {
        grid-template-columns: 1fr;
    }

        .search-result {
            margin-bottom: 1.5%;
        }

}
