body {
    font-size: 195%;
    background-color: #fafbfd;
}

h1 {
    font-size: 8.3vw;
}

h2 {
    margin-top: 1.3vh;
}

h3 {
    margin-bottom: 20px;
}

#live-search-results .search-result, #live-search-results p {
    padding: 20px;
    text-overflow: ellipsis;
}

#live-search-results .search-result .club {
    padding-left: 20px;
}

#navbar-container {
    text-align: unset;
    height: 104px;
    max-height: calc(104px*5);
}

    .navbar a {
        font-size: 130%;
    }

    #navbar-normal a:not(:first-child) {
        display: none;
    }

        #navbar-normal #burger-icon-container {
            display: block;
            float: right;
        }

        .responsive-navbar a {
            height: 104px;
        }

        #navbar-hidden {
            height: calc(104px * 4);
            top: calc(104px * 3 * -1);
        }

            @keyframes slideUp {
                0% {top: 104px}
                100% {top: calc(104px * 3 * -1)}
            }

        #navbar-expanded {
            height: calc(104px*4);
            top: 104px;
        }

            @keyframes slideDown {
                0% {top: calc(104px * 3 * -1)}
                100% {top: 104px}
            }

.homepage-section-container:not(:last-child) {
    justify-content: unset;
}

#home {
    background-color: white;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: unset;
    font-size: 105%;
}

    #home #searchbar-container1 {
        min-width: 70%;
        height: 104px;
    }

        #home #searchbar-container1 #searchbar-input {
            height: 100%;
        }

    #home #searchbar-container1 #live-search-results {
        left: 1%;
        min-width: 98%;
        width: 98%;
        max-height: 600px;
    }

    #sample-results {
        flex-direction: column;
        min-width: unset;
    }

        #sample-results a {
            max-width: unset;
            margin-left: unset;
            margin-right: unset;
            margin-bottom: 5%;
        }

        .sample-player {
            padding: 6%;
        }

            .sample-player .name, .sample-player .club {
                /*white-space: unset;*/
            }

#about-section-container, #faq-section-container, #glossary-section-container{
    padding-top: 7.5vh;
}

#about-section-container  {
    flex-direction: column;
}

    #about-image {
        padding-left: unset;
        padding-top: 5%;
    }

#glossary-section-container {

}

    #glossary-section-container ul, #faq-section-container #faq-container {
        column-count: unset;
        -webkit-column-count: unset;
        -moz-column-count: unset;
    }

    #glossary-section-container #glossary-links span {
        display: block;
    }

#faq-section-container {

}

    #faq-container .faq-item {
        margin-bottom: 10%;
    }

#main2 {
    display: flex;
    flex-direction: column;
}

    #searchbar-container2, #searchbar-container3 {
        height: 104px;
    }

    #searchbar-container2 > div, #searchbar-container3 > div {
        width: 100%;
    }

        #main #searchbar-form, #main2 #searchbar-form {
            padding-left: 2%;
            padding-right: 2%;
        }

        #searchbar-container2 #searchbar-form input, #searchbar-container3 #searchbar-form input {
        }

        #searchbar-container2 #live-search-results, #searchbar-container3 #live-search-results {
            position: unset;
            width: auto;
        }

            #searchbar-container2 #live-search-loader, #searchbar-container3 #live-search-loader {
                top: 6%;
                right: 2%;
            }

    .screen, .screen2 {
        flex: 1;
        flex-direction: column;
    }

    .screen {
        padding: 1%;
    }


    .screen2 {

    }

        .filter {
            flex: unset;
            max-width: unset;
            margin-right: 1%;
            margin-bottom: 1%;
        }

        .result {
            max-width: unset;
            margin: 0.5% 1% 1%;
        }

    #search-screen {

    }

        #search-filters {
            padding-bottom: 5%;
            display: flex;
            align-items: center;
            box-shadow: none;
        }

            #search-filter-inputs {
                width: 60%;
                max-width: 60%;
            }

                .search-filter-input {
                    padding: 1%;
                }

                    .search-filter-input input {
                        margin-left: 20px;
                        margin-right: 20px;
                        /*max-width: 50%;*/
                    }

        #search-results {
            overflow-y: unset;
        }

            #search-results h3 {
                margin-left: 20px;
            }

            #search-results p {
                margin-left: 30px;
            }

            #player-search-results, #club-search-results {
                grid-template-columns: 1fr;
                grid-row-gap: 15px;
            }

                .search-result {
                    /*margin-bottom: 1.5%;*/
                }

    #stats-screen, #compare-screen {
        max-height: unset;
    }

        #compare-search-screen {

        }

            #compare-search-screen #searchbar-container1 {
                min-width: 75%;
                height: 104px;
            }

                #compare-search-screen #searchbar-container1 #live-search-results {
                    min-width: unset;
                    width: 72%;
                }

                #compare-search-screen #searchbar-container1 #searchbar-input{
                    height: 100%;
                }

        #chart-filters {
            /*flex-direction: row;*/
            min-height: 507px;
            /*max-height: 410px;*/
        }

            .chart-filter-inputs {
                padding: 0 2% 2%;
                max-height: 100%;
                box-shadow: none;
            }

                .chart-filter-inputs form {
                    /*column-count: 2;*/
                    /*-webkit-column-count: 2;*/
                    /*-moz-column-count: 2;*/
                }

                    .chart-filter-inputs form label {
                        break-inside: avoid-column;
                    }

            #chart-filter-inputs-laptop {
                display: none;
            }

            #chart-filter-inputs-mobile {
                display: block;
            }

                #chart-filter-inputs-mobile form {
                    display: flex;
                    flex-flow: wrap row;
                }

                    #chart-filter-inputs-mobile form label {
                        flex: 1 0 50%;
                        max-width: 50%;
                    }

                #chart-filter-inputs-mobile .Collapsible__trigger {
                    padding-top: 21px;
                    padding-bottom: 21px;
                }

                #chart-filter-inputs-mobile form label {
                    font-size: 3vw;
                    padding: 30px;
                }

                #chart-filter-inputs-mobile form .selectable-label {
                    box-shadow: 0 0 6px lightgray;
                }

                #chart-filter-inputs-mobile form .selected-label {
                    box-shadow: 0 0 6px #B23535;
                }

            #filter-buttons {
                flex: unset;
                flex-direction: row;
            }

                #filter-buttons .filter-button {
                    padding: 0;
                    margin-top: 1%;
                }

                    #filter-buttons .filter-button button {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }

                #filter-buttons .filter-button:first-child {
                    margin-right: 0.5%;
                }

                #filter-buttons .filter-button:not(:first-child):not(:last-child) {
                    margin-left: 0.25%;
                    margin-right: 0.25%;
                }

                #filter-buttons .filter-button:last-child {
                    margin-left: 0.5%;
                }

        #chart {
            flex: 1;
            min-height: 1250px;
        }


/*@media (max-device-aspect-ratio: 568/320){*/

/*    #chart {*/
/*        min-height: 1500px;*/
/*    }*/

/*}*/
