body {
    font-size: 195%;
    background-color: #fafbfd;
}

h1 {
    font-size: 8.3vw;
}

h2 {
    margin-top: 1.3vh;
}

h3 {
    margin-bottom: 20px;
}

.screen {
    padding: 1%;
}

#navbar-container {
    text-align: unset;
    max-height: 30%;
}

.navbar a {
    font-size: 130%;
}

#menu a:not(:first-child) {
    display: none;
}

#menu #burger-icon-container {
    display: block;
    float: right;
}

#menu #burgerIcon {
    display: flex;
}

.homepage-section-container:not(:last-child) {
    justify-content: unset;
}

#home {
    background-color: white;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: unset;
    font-size: 105%;
}

#searchbar-container1 #searchbar input, #searchbar-container2 #searchbar input {
    max-width: unset;
}

#home #searchbar-container3 {
    min-width: 70%;
}

#sample-results {
    flex-direction: column;
    /*grid-template-columns: 1fr;*/
    /*grid-auto-flow: row;*/
    /*grid-row-gap: 6%;*/
    min-width: unset;
}

#sample-results a {
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
    margin-bottom: 5%;
}

.sample-player {
    padding: 6%;
}

.sample-player .name, .sample-player .club {
    /*white-space: unset;*/
}

#preview-section-container, #faq-section-container, #glossary-section-container{
    padding-top: 7.5vh;
}

#preview-section-container  {
    flex-direction: column;
}

#preview-image {
    padding-left: unset;
    padding-top: 5%;
}

#faq-container, #glossary-section-container ul {
    column-count: unset;
    -webkit-column-count: unset;
    -moz-column-count: unset;
}

#faq-container .faq-item {
    margin-bottom: 5%;
}

#main2 {
    display: flex;
    flex-direction: column;
    /*min-height: 100%;*/
}

#searchbar-container1, #searchbar-container2 {
    padding-top: 0.5%;
    box-shadow: none;
    /*flex: 1 1 4.29%;*/
    flex: 1 1 6%
}

#main #searchbar, #main2 #searchbar {
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
}

.screen {
    flex-direction: column;
}

.screen2 {
    /*flex: 1 1 95.21%;*/
    /*max-height: 95.21%;*/
    flex: 1 1 94%;
    max-height: 94%;
    flex-direction: column;
}

.filter {
    flex: 1 1 23%;
    max-height: 23%;
    max-width: unset;
    /*margin: 10px 20px;*/
    margin-right: 1%;
    margin-bottom: 1%;
}

#search-filters {
    flex: none;
    max-height: unset;
    height: auto;
    padding-bottom: 2.5%;
    display: flex;
    align-items: center;
    box-shadow: none;
}

#search-filters h2 {
}

#search-filter-inputs{
    width: 60%;
    max-width: 60%;
}

.search-filter-input{
    padding: 1%;
}

#search-filter-inputs input {
    margin-left: 20px;
    margin-right: 20px;
    /*max-width: 50%;*/
}

#search-results {
    overflow-y: unset;
}

#search-results h3 {
    margin-left: 20px;
}

#search-results p {
    margin-left: 30px;
}

.result {
    max-width: unset;
    margin: 0.5% 1% 1%;
}

#player-search-results, #club-search-results {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}

.search-result {
    /*margin-bottom: 1.5%;*/
}

#chart-filters {
    flex-direction: row;
}

.chart-filter-inputs {
    padding: 0 2% 2%;
    max-height: 100%;
    box-shadow: none;
}

.chart-filter-inputs form {
    /*column-count: 2;*/
    /*-webkit-column-count: 2;*/
    /*-moz-column-count: 2;*/
}

.chart-filter-inputs form label {
    break-inside: avoid-column;
}

#chart-filter-inputs-laptop {
    display: none;
}

#chart-filter-inputs-mobile {
    display: block;
}

#chart-filter-inputs-mobile form label{
    font-size: 3vw;
    padding: 30px;
}

#chart-filter-inputs-mobile form .selectable-label{
    box-shadow: 0 0 6px lightgray;
}

#chart-filter-inputs-mobile form .selected-label{
    box-shadow: 0 0 6px #B23535;
}

#filter-buttons {
}

#filter-buttons .filter-button {
    padding: 0;
    /*margin-left: 20px;*/
    margin-left: 3.3%;
}

#filter-buttons .filter-button:first-child {
    /*padding-bottom: 13px;*/
    padding-bottom: 2.5%;
}

#filter-buttons .filter-button:not(:first-child):not(:last-child) {
    /*padding-top: 7px;*/
    /*padding-bottom: 7px;*/
    padding-top: 1.25%;
    padding-bottom: 1.25%;
}

#filter-buttons .filter-button:last-child {
    /*padding-top: 13px;*/
    padding-top: 2.5%;
}
